<!-- payment block -->
<section class="thank-you-block">
    <div class="container">
        <div class="inner-wrap">
            <h3>Thank You!</h3>
            <div class="order-info">
                <img src="../../../assets/images/thank-you.svg" alt="thank-you">
                <h4>Gift Card Added</h4>
                <p>Your gift card is added to cart.</p>
            </div>
            <div class="btn-wrap">
                <a href="#" routerLink="/my-cart" class="btn btn-default no-arrow">Go to Cart</a>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->