<div class="item-block">
    <h4>Book Appointment</h4>
    <form class="form-wrap" (submit)="onBookAppointment(appointmentForm)" #appointmentForm="ngForm">
        <div class="field-wrap">
            <input type="text" placeholder="Name" name="name" [ngModel]="appointment.name" required>
        </div>
        <div class="field-wrap">
            <input type="tel" placeholder="Mobile Number" name="phone" [ngModel]="appointment.phone" required pattern="[- +()0-9]+">
        </div>
        <div class="field-wrap">
            <input type="date" name="date" [ngModel]="appointment.date" required>
        </div>  
        <div class="field-wrap select-field" *ngIf="customize.measureType.id == 0">
            <select name="branch" id="branch" [ngModel]="appointment.branch ? appointment.branch : 'select'" required>
                <option value="select">Select Branch</option>
                <option [value]="item.id" *ngFor="let item of branches">{{ item.branch }}</option>
            </select>
        </div>
        <div class="field-wrap select-field" *ngIf="customize.measureType.id == 1">
            <select name="address" id="address" [ngModel]="appointment.address ? appointment.address : 'select'" required>
                <option value="select">Select Address</option>
                <option [value]="item.id" *ngFor="let item of addresses">{{ item.home_type | titlecase }} | {{ item.address }}</option>
            </select>
        </div>
        <div class="btn-wrap">
            <a href="#" [hidden]="customize.measureType.id == 0" routerLink="/my-account/add-new-address" [queryParams]="{ appointment: true}" class="btn no-arrow btn-default">Add New Address</a>
            <button type="submit" [disabled]="!appointmentForm.valid" class="btn no-arrow btn-default">Confirm Appointment</button>
        </div>
    </form>
</div>