<!-- my cart block -->
<section class="my-cart-block">
    <div class="container">
        <h4>My Cart 
            <span>
                ({{ itemsInCart }})
            </span>
        </h4>
        <p *ngIf="!addedProducts">Loding...</p>
        <div class="row-wrap" *ngIf="addedProducts">
            <div class="col-wrap">
                <div class="card-wrap" *ngFor="let addedProduct of addedProducts.normal">
                    <div class="inner-row">
                        <div class="product-img">
                            <img [src]="addedProduct.image" [alt]="addedProduct.title">
                        </div>
                        <div class="product-info">
                            <h6>{{ addedProduct.title }}
                                <button (click)="onRemoveFromCart(addedProduct.id, addedProduct.type)" type="button">
                                    <img src="../../../assets/images/delete.svg" alt="delete">
                                </button>
                            </h6>
                            <p>{{ addedProduct.description }}</p>
                            <div class="qty-row">
                                <div class="qty-wrap">
                                    <button [disabled]="addedProduct.quantity == 1" (click)="manageQty(addedProduct.quantity, -1, addedProduct.product_id)" class="decrement"><span>-</span></button>
                                    <span class="qty">{{ addedProduct.quantity }}</span>
                                    <button (click)="manageQty(addedProduct.quantity, 1, addedProduct.product_id)" class="increment"><span>+</span></button>
                                </div>
                                <h4>{{ addedProduct.total_cost | currency:'SAR ' }}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="product-detail">
                        <button>More Detail</button>
                        <div class="detail-wrap">
                            <div class="amount-row">
                                <h6>Customization Total Charges</h6>
                                <span class="amt">SAR 999</span>
                            </div>
                            <div class="amount-row">
                                <h6>Visiting Charges</h6>
                                <span class="amt">SAR 50</span>
                            </div>
                            <div class="amount-row">
                                <h6>*Advance Payment of 25%</h6>
                                <span class="amt">-SAR 100</span>
                            </div>
                            <div class="amount-row">
                                <h6>Remaining Amount</h6>
                                <span class="amt">SAR 100</span>
                            </div>
                            <div class="amount-row total">
                                <h4>Sub Total</h4>
                                <span class="amt">SAR 789</span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="card-wrap" *ngFor="let addedProduct of addedProducts.gift_cart">
                    <div class="inner-row">
                        <div class="product-img">
                            <img [src]="addedProduct.image" [alt]="addedProduct.title">
                        </div>
                        <div class="product-info">
                            <h6>{{ addedProduct.title }}
                                <button (click)="onRemoveFromCart(addedProduct.id, addedProduct.type)" type="button">
                                    <img src="../../../assets/images/delete.svg" alt="delete">
                                </button>
                            </h6>
                            <p>{{ addedProduct.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-wrap">
                <div class="card-wrap single-row">
                    <div class="inner-row">
                        <h6><img src="../../../assets/images/loyality.svg" alt="loyality"> Use Loyalty Points (100= SAR 10)</h6>
                        <div class="toggle-switch">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="card-wrap single-row">
                    <div class="inner-row">
                        <h6>Enter Discount Code</h6>
                        <div class="field-wrap">
                            <input type="text">
                            <button type="submit">Apply</button>
                        </div>
                    </div>
                </div>
                <div class="card-wrap total-cart-amt">
                    <h4>Cart Total Amount</h4>
                    <div class="detail-wrap">
                        <div class="amount-row">
                            <h6>Thobe Total</h6>
                            <span class="amt">SAR 789</span>
                        </div>
                        <div class="amount-row">
                            <h6>Accessories Total</h6>
                            <span class="amt">SAR 430</span>
                        </div>
                        <div class="amount-row">
                            <h6>Gift Card Amount</h6>
                            <span class="amt">SAR 300</span>
                        </div>
                        <div class="amount-row">
                            <h6>Delivery Charges</h6>
                            <span class="amt">SAR 50</span>
                        </div>
                        <div class="amount-row">
                            <h6>Coupon Applied (SAVE20)</h6>
                            <span class="amt">- SAR 245</span>
                        </div>
                        <div class="amount-row total">
                            <h4>Grand Total</h4>
                            <span class="amt">SAR 1,514</span>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <a href="#" routerLink="/checkout" class="btn btn-default">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my cart block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->