<div class="item-block collar">
    <h4>Collar</h4>
    <div class="inner-wrap">
        <p *ngIf="!collars">Fetching...</p>
        <div class="item-type-list">
            <div class="item-type" *ngFor="let collar of collars; let i = index">
                <div class="box">
                    <div class="img">
                        <img [src]="collar.image" [alt]="collar.collar_style">
                    </div>
                    <span class="item">{{ collar.collar_style }}</span>
                    <div class="price-row">
                        <span class="price">{{ collar.price | currency:'SAR ' }}</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" (change)="onSelectCollar(collar.id)" [id]="collar.id" 
                    name="collar" [checked]="this.selectedCollarId == collar.id">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <p *ngIf="selectedCollar">{{ selectedCollar.description }}</p>
    </div>
    <div class="btn-wrap">
        <button type="submit" routerLink="/customize/fabric" class="btn btn-default prev">Fabric</button>
        <button type="submit" [disabled]="!selectedCollar" routerLink="/customize/cuffs" class="btn btn-default">Cuffs</button>
    </div>
</div>