<div class="item-block collar">
    <h4>Collar</h4>
    <div class="inner-wrap">
        <div class="item-type-list">
            <div class="item-type" for="standard">
                <div class="box">
                    <div class="img">
                        <img src="../../../../assets/images/standardcollar.svg" alt="standardcollar">
                    </div>
                    <span class="item">Standard</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" id="standard" name="collar" value="standard">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="business">
                <div class="box">
                    <div class="img">
                        <img src="../../../../assets/images/businesscollar.svg" alt="businesscollar">
                    </div>
                    <span class="item">Business</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" id="business" name="collar" value="business">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="cutaway">
                <div class="box">
                    <div class="img">
                        <img src="../../../../assets/images/cutaway.svg" alt="cutaway">
                    </div>
                    <span class="item">Cutaway</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" id="cutaway" name="collar" value="cutaway" checked>
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="longPoint">
                <div class="box">
                    <div class="img">
                        <img src="../../../../assets/images/longpointcollar.svg" alt="longpointcollar">
                    </div>
                    <span class="item">Long Point</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" id="longPoint" name="collar" value="longPoint">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="hood">
                <div class="box">
                    <div class="img">
                        <img src="../../../../assets/images/hoodCollar.svg" alt="hoodCollar">
                    </div>
                    <span class="item">Hood</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" id="hood" name="collar" value="hood">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="urban">
                <div class="box">
                    <div class="img">
                        <img src="../../../../assets/images/urbanCollar.svg" alt="urbanCollar">
                    </div>
                    <span class="item">Urban</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" id="urban" name="collar" value="urban">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices a lectus nec pharetra.</p>
    </div>
    <div class="btn-wrap">
        <a href="#" routerLink="/customize/fabric" class="btn btn-default prev">Fabric</a>
        <a href="#" routerLink="/customize/cuffs" class="btn btn-default">Cuffs</a>
    </div>
</div>