<h4>Offers</h4>

<div class="info-box">
    <p *ngIf="!offers">Loading...</p>
    <div class="card-wrap" *ngFor="let offer of offers">
        <div class="inner-row">
            <div class="product-img">
                <img [src]="offer.image" [alt]="offer.code">
            </div>
            <div class="product-info">
                <h4>CODE : {{ offer.code }}</h4>
                <p>{{ offer.description }}</p>
                <span>Expiry: {{ offer.expiry_date }}</span>
            </div>
        </div>
    </div>
</div>