<h4>Offers</h4>

<div class="info-box">
    <div class="card-wrap">
        <div class="inner-row">
            <div class="product-img">
                <img src="../../../../assets/images/17482.png" alt="offer">
            </div>
            <div class="product-info">
                <h4>CODE : SAVE50</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nulla quis risus tempus.</p>
                <span>Expiry: 25 Feb, 2021</span>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="inner-row">
            <div class="product-img">
                <img src="../../../../assets/images/17482.png" alt="offer">
            </div>
            <div class="product-info">
                <h4>CODE : SAVE50</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nulla quis risus tempus.</p>
                <span>Expiry: 25 Feb, 2021</span>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="inner-row">
            <div class="product-img">
                <img src="../../../../assets/images/17482.png" alt="offer">
            </div>
            <div class="product-info">
                <h4>CODE : SAVE50</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nulla quis risus tempus.</p>
                <span>Expiry: 25 Feb, 2021</span>
            </div>
        </div>
    </div>
</div>