<h4>Address Book > <span>Edit Address</span></h4>

<div class="info-box">
    <div class="inner-row" *ngIf="address">
        <form (submit)="onUpdateAddress(editAddressForm)" #editAddressForm="ngForm">
            <div class="radio-grp">
                <div class="radio-wrap">
                    <input 
                    type="radio" 
                    id="addressType"
                    value="home" 
                    name="addressType"
                    [ngModel]="address.home_type">
                    <label for="male">
                        <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Home
                    </label>
                </div>
                <div class="radio-wrap">
                    <input 
                    type="radio" 
                    id="addressType"
                    value="other"
                    name="addressType"
                    [ngModel]="address.home_type">
                    <label for="female">
                        <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Other 
                    </label>
                </div>
            </div>
            <div class="field-wrap">
                <input 
                type="text" 
                name="Full Name" 
                placeholder="Name"
                name="name"
                [ngModel]="address.name"
                required>
            </div>
            <div class="field-wrap">
                <input 
                type="text" 
                name="address" 
                placeholder="Address"
                [ngModel]="address.address"
                required>
            </div>

            <div class="btn-wrap">
                <button type="submit" [disabled]="!editAddressForm.valid" class="btn btn-default no-arrow">Update Address</button>
            </div>
        </form>
    </div>
    <p *ngIf="!address">Fetching...</p>
</div>