<div class="item-block collar">
    <h4>Button</h4>
    <div class="inner-wrap">
        <p *ngIf="!buttons">Fetching...</p>
        <div class="item-type-list">
            <div class="item-type" *ngFor="let button of buttons; let i = index">
                <div class="box">
                    <div class="img">
                        <img [src]="button.image" [alt]="button.buttons">
                    </div>
                    <span class="item">{{ button.buttons }}</span>
                    <div class="price-row">
                        <span class="price">{{ button.price | currency:'SAR ' }}</span>
                        <!-- <span class="show-item">Details</span> -->
                    </div>
                    <input type="radio" (change)="onSelectButton(button.id)" [id]="button.id" 
                    name="collar" [checked]="this.selectedButtonId == button.id">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <p class="selected" *ngIf="selectedButton">{{ selectedButton.description }}</p>
    </div> 
    <div class="btn-wrap">
        <button type="submit" routerLink="/customize/placket" class="btn btn-transparent-brown prev">Placket</button>
        <button type="submit" [disabled]="!selectedButton" routerLink="/customize/side-pocket" class="btn btn-default">Side Pocket</button>
    </div> 
</div>