<div class="header-top">
    <div class="container">
        <div class="inner-wrap">
            <ul class="info">
                <li><a href="tel:056 6885 235"><img src="../../../../assets/images/phone-call.svg" alt="phone-call"> 056 6885 235</a></li>
                <li><a href="mailto:bamthobe@gmail.com"><img src="../../../../assets/images/arroba.svg" alt="mail"> bamthobe@gmail.com</a></li>
            </ul>
            <div class="right-links">
                <ul class="social-nav">
                    <li>
                        <a href="#">
                            <img src="../../../../assets/images/instagram.svg" alt="instagram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../assets/images/facebook.svg" alt="facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../../assets/images/twitter.svg" alt="twitter">
                        </a>
                    </li>
                </ul>
                <div ngbDropdown class="country-selector">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>En</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>En</button>
                      <button ngbDropdownItem>Ar</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="inner-wrap">
            <div class="logo-wrap">
                <a href="#" routerLink="/">
                    <img src="../../../../assets/images/logo.svg" alt="logo">
                </a>
            </div>
            <nav class="nav" [ngStyle]="{'display': showMenu ? 'block' : 'none' }">
                <ul>
                    <li>
                        <a href="#" routerLink="/">Home</a>
                    </li>
                    <li>
                        <a href="#" routerLink="/customize/fabric">Design Your Thobe</a>
                    </li>
                    <li *ngFor="let category of menuCategories">
                        <a href="#" [routerLink]="'/products/' + category.id " [queryParams]="{ category: category.category_name }">{{ category.category_name }}</a>
                    </li>
                    <li>
                        <a (click)="showSearchBox = true" class="icon">
                            <img src="../../../../assets/images/loupe.svg" alt="loupe">
                        </a>
                    </li>
                    <li *ngIf="isLoggedIn">
                        <a href="#" routerLink="/my-cart" class="cart icon">
                            <img src="../../../../assets/images/shopping-bag.svg" alt="shopping">
                            <span class="badge bg-danger">{{ user.total_cart }}</span>
                        </a>
                    </li>
                    <li *ngIf="!isLoggedIn">
                        <a href="#" (click)="open()" class="login">
                            <img src="../../../../assets/images/userAvatar.png" alt="userAvatar">
                            <span>Login or <br>
                                Register Now</span>
                        </a>
                    </li>
                    <li *ngIf="isLoggedIn">
                        <div ngbDropdown class="d-inline-block">
                            <img class="user-image" [src]="user.image" alt="user img">
                            <button class="btn btn-outline-primary user-menu" id="dropdownBasic1" ngbDropdownToggle>{{ user.name }}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <a href="#" ngbDropdownItem routerLink="/my-account/profile">My Account</a>
                              <a href="#" (click)="onLogout()" ngbDropdownItem>Logout</a>
                              <!-- <button ngbDropdownItem>Something else is here</button> -->
                            </div>
                          </div>
                    </li>
                </ul>
            </nav>
            <div class="toggle-menu" (click)="showMenu = !showMenu" [ngClass]="{'show': showMenu}">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</header>

<div class="search-overlay" [ngClass]="{ 'show': showSearchBox }">
    <div (click)="showSearchBox = false" class="close-btn"></div>
    <form class="search-form" (submit)="onSerachProduct(searchFrom)" #searchFrom="ngForm">
        <div class="input-wrap">
            <input type="text" name="search" ngModel placeholder="Search Products..." required>
            <button type="submit" [disabled]="!searchFrom.valid"><img src="../../../../assets/images/loupe.svg" alt="magnify"></button>
        </div>
    </form>
</div>

<ngx-spinner></ngx-spinner>