<div class="item-block collar">
    <h4>Pocket</h4>
    <div class="inner-wrap">
        <p *ngIf="!pockets">Fetching...</p>
        <div class="item-type-list">
            <div class="item-type" *ngFor="let pocket of pockets; let i = index">
                <div class="box">
                    <div class="img">
                        <img [src]="pocket.image" [alt]="pocket.cuff">
                    </div>
                    <span class="item">{{ pocket.pocket }}</span>
                    <div class="price-row">
                        <span class="price">{{ pocket.price | currency:'SAR ' }}</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" (change)="onSelectPocket(pocket.id)" [id]="pocket.id"
                    name="collar" [checked]="this.selectedPocketId == pocket.id">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <p *ngIf="selectedPocket">{{ selectedPocket.description }}</p>
    </div>
    <div class="btn-wrap">
        <button type="submit" routerLink="/customize/cuffs" class="btn btn-default prev">Cuffs</button>
        <button type="submit" [disabled]="!selectedPocket" routerLink="/customize/placket" class="btn btn-default">Placket</button>
    </div>
</div>