<div class="modal-body centered">
    <div class="row-wrap">
        <div class="col-img">
            <img src="../../../../assets/images/login_banner.jpg" alt="login banner">
        </div>
        <div class="col-content">
            <div class="intro">
                <h2>Verify Mobile</h2>
                <p>Enter OTP sent to <span>056 6885 235</span></p>
            </div>
            <form action="#" class="form">
                <div class="field-wrap">
                    <input type="text" name="otp" maxlength="4" placeholder="Enter OTP">
                </div>
                <div class="form-link">
                    <a href="#">Resend</a>
                </div>
                <div class="btn-grp">
                    <button type="button" (click)="openChangePwdModal()" class="btn btn-default no-arrow">Verify & Continue</button>
                    <button type="button" (click)="openLoginModal()" class="btn btn-transparent-brown">Already a Member? Login</button>
                </div>
            </form>
            <button class="close-btn" (click)="activeModal.dismiss('Cross click')"><img src="../../../../assets/images/close-btn.svg" alt="close-btn"></button>
        </div>
    </div>
</div>