<!-- header -->
<app-header></app-header>
<!-- header -->

<!-- payment block -->
<section class="payment-block">
    <div class="container">
        <div class="inner-wrap">
            <h4>Payment</h4>
            <div class="payment-method">
                <p><img src="../../../assets/images/card.svg" alt="card"> Credit Card/ Debit Card</p>
            </div>
            <div class="btn-wrap">
                <a href="#" routerLink="/thank-you" class="btn btn-default">Make Payment</a>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->