<!-- payment block -->
<section class="thank-you-block">
    <div class="container">
        <div class="inner-wrap">
            <h3>Thank You!</h3>
            <div class="order-info">
                <img src="../../../assets/images/thank-you.svg" alt="thank-you">
                <h4>Payment to completed</h4>
                <p>Your order #76281 is confirmed.</p>
            </div>
            <div class="btn-wrap">
                <a href="#" class="btn btn-default black no-arrow">View Order Status</a>
                <a href="#" class="btn btn-default no-arrow">Continue shopping</a>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->