@import "../../../assets/styles/global/variables";

.thank-you-block {
    .inner-wrap {
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        h3 {
            color: $black;
        }
        .order-info {
            margin: 40px 0;
            img {
                margin-bottom: 20px;
            }
        }
        .btn-wrap {
            a {
                display: block;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}