@import "../../../assets/styles/global/variables";

// banner
.banner {
    height: 600px;
    .slider-wrap {
        height: 100%;
        .owl-carousel {
            height: 100%;
            .owl-stage-outer, [class*="ng-tns"] {
                height: 100%;
            }
            .owl-item {
                height: 100%;
                .bg-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to right, rgba(0,0,0,.4) , transparent);
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .content-wrap {
                    height: 100%;
                    @include nowrap;
                    align-items: center;
                    .inner-wrap {
                        max-width: 400px;
                        h1 {
                            color: $white;
                        }
                        p {
                            color: $white;
                            margin: 15px 0 24px;
                        }
                    }
                }
            }
            .owl-dots {
                position: absolute;
                bottom: 15px;
                width: 100%;
                .owl-dot {
                    &.active {
                        span {
                            opacity: 1;
                            width: 16px;
                        }
                    }
                    span {
                        background: $black;
                        opacity: .4;
                        border-radius: 0;
                        width: 10px;
                        height: 7px;
                        margin: 0 5px;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}

// col two grid
.col-two-grid {
    .row-wrap {
        @include row;
        margin: 0 -15px;
        .col-six {
            @include column(50%);
            padding: 0 15px;
            @include tablet-down {
                @include column(100%);
            }
            .card-wrap {
                width: 100%;
                height: 550px;
                position: relative;
                @include tablet-down {
                    height: 350px;
                }
                &.card-sm {
                    height: 260px;
                    @include tablet-down {
                        margin-top: 30px;
                    }
                    &:last-child {
                        margin-top: 30px;
                    }
                }
                .bg-img {
                    height: 100%;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-wrap {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 17px;
                    width: 100%;
                    background: rgba(0,0,0,.5);
                    h2 {
                        color: $white;
                    }
                }
            }
        }
    }
}

// col four grid
.col-four-grid {
    .intro-wrap {
        text-align: center;
        max-width: 450px;
        margin: 0 auto 30px;
        @include desktop-down {
            margin-bottom: 0
        }
    }
    .row-wrap {
        @include row;
        margin: 0 -15px;
        justify-content: center;
        .col-three {
            @include column(25%);
            padding: 0 15px;
            @include desktop-down {
                @include column(33.33%);
            }
            @include tablet-down {
                @include column(50%);
            }
            @include phone-down {
                @include column(100%);
            }
            .card-wrap {
                padding: 7px;
                background: $concrete;
                position: relative;
                @include desktop-down {
                    margin-top: 30px;
                }
                .img-wrap {
                    width: 100%;
                    height: 245px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-wrap {
                    p {
                        font-size: 14px;
                        margin: 3px 0;
                    }
                    .price {
                        font-size: 20px;
                        color: $brown;
                    }
                }
                .cart-btn {
                    outline: none;
                    border: none;
                    background: $white;
                    padding:  0 7px 3px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    border-radius: 3px;
                    transition: all .3s ease-in-out;
                    &.added-to-cart {
                        background: $brown;
                        span {
                            display: inline-block;
                        }
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                    &:hover {
                        background: $brown;
                        span {
                            display: inline-block;
                        }
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                    span {
                        display: none;
                        font-size: 12px;
                        color: $white;
                        vertical-align: middle;
                        margin-left: 5px;
                        line-height: 0.8;
                    }
                    svg {
                        width: 14px;
                        height: 14px;
                        vertical-align: middle;
                        path {
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .btn-wrap {
        margin-top: 30px;
        text-align: center;
    }
}

// cta
.cta {
    width: 100%;
    padding: 140px 0;
    @include tablet-down {
        padding: 90px 0;
    }
    .bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, rgba(0,0,0,.4) , transparent);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content-wrap {
        h6 {
            color: $white;
        }
        h1 {
            color: $white;
            margin: 10px 0;
        }
    }
}