<!-- col four grid -->
<section class="col-four-grid">
    <div class="container">
        <div class="intro-wrap">
            <h3>{{ categoryName }}</h3>

            <div class="filter">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sort By</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button (click)="lowToHigh()" ngbDropdownItem>Price Low to High</button>
                      <button (click)="highToLow()" ngbDropdownItem>Price High to Low</button>
                    </div>
                </div>
            </div>
        </div>
        <p *ngIf="!products">Loading...</p>
        <div class="row-wrap">
            <div class="col-three" *ngFor="let product of products">
                <div class="card-wrap" [routerLink]="'/product-detail/' + product.id">
                    <div class="img-wrap">
                        <img [src]="product.image" [alt]="product.title">
                    </div>
                    <div class="text-wrap">
                        <h6>{{ product.title | titlecase }}</h6>
                        <p>{{ product.description }}</p>
                        <span class="price">{{ product.cost | currency:'SAR' }}</span>
                    </div>
                    <button class="cart-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="34" viewBox="0 0 30 34">
                            <path id="shopping-bag" d="M29.994,32.883,27.36,8.274a1.025,1.025,0,0,0-1.026-.906H21.382V6.261a6.384,6.384,0,0,0-12.765,0V7.368H3.666a1.025,1.025,0,0,0-1.026.906L.005,32.883a1,1,0,0,0,.259.783A1.041,1.041,0,0,0,1.031,34H28.968a1.041,1.041,0,0,0,.767-.335,1,1,0,0,0,.26-.783ZM10.68,6.261a4.32,4.32,0,0,1,8.638,0V7.368H10.68Zm-8.5,25.716L4.595,9.392H8.617v2.23a1.032,1.032,0,0,0,2.063,0V9.392h8.638v2.23a1.032,1.032,0,0,0,2.063,0V9.392H25.4l2.418,22.585Zm0,0" transform="translate(0 0)" fill="#818286"/>
                          </svg>  
                        <span>Add to cart</span>                          
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- col four grid -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->