@import "../../../assets/styles/global/variables";

.content-with-form {
    .row-wrap {
        @include row;
        max-width: 1000px;
        margin: 0 auto;
        .col-wrap {
            @include column(50%);
            padding: 0 15px;
            @include tablet-down {
                @include column(100%);
            }
            .form-box {
                padding: 15px;
                border: 1px solid $brown;
                border-radius: 5px;
                @include tablet-down {
                    margin-bottom: 30px;
                }
                .field-wrap {
                    margin-bottom: 10px;
                    input, textarea {
                        width: 100%;
                        border: none;
                        outline: none;
                        background: rgba(148, 122, 99, .12);
                        padding: 10px;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
            .info {
                margin-top: 30px;
                @include tablet-down {
                    margin-top: 20px;
                }
                p {
                    a {
                        color: $brown;
                    }
                }
            }
        }
    }
}