<!-- text block -->
<section class="content-with-form">
    <div class="container">
        <div class="row-wrap">
            <div class="col-wrap">
                <div class="form-box"> 
                    <h5>Contact Us</h5>
                    <form (submit)="onSendRequest(contactForm)" #contactForm="ngForm">
                        <div class="field-wrap">
                            <input type="text" 
                            name="name" 
                            placeholder="Name"
                            ngModel
                            required>
                        </div>
                        <div class="field-wrap">
                            <input 
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            ngModel
                            required>
                        </div>
                        <div class="field-wrap">
                            <input 
                            type="tel" 
                            name="phone" 
                            placeholder="Phone"
                            ngModel
                            required>
                        </div>
                        <div class="field-wrap">
                            <textarea 
                            name="message" 
                            placeholder="Type your message here..." 
                            cols="4" 
                            rows="4"
                            ngModel
                            required>
                        </textarea>
                        </div>
                        <button type="submit" [disabled]="!contactForm.valid" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-wrap">
                <h2>Any Query?</h2>
                <p>Feel free to ask and contact us.</p>
                <div class="info">
                    <h5>Other ways to connect</h5>
                    <p>Call or Email - Whatever works for you we will be there.</p>
                    <p>Mobile: <a href="tel:056 6885 235">056 6885 235</a></p>
                    <p>Email: <a href="mailto:bamthobe@gmail.com">bamthobe@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- text block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->