<div class="modal-body centered">
    <div class="row-wrap">
        <div class="col-img">
            <img src="../../../../assets/images/login_banner.jpg" alt="login banner">
        </div>
        <div class="col-content">
            <div class="intro">
                <h2>Create New Password</h2>
                <p>Create new password to login to your account.</p>
            </div>
            <form (submit)="onResetPwd(resetPwdForm)" #resetPwdForm="ngForm" class="form">
                <div class="field-wrap">
                    <input 
                    type="password" 
                    name="password" 
                    placeholder="Create Password"
                    ngModel
                    required>
                </div>
                <div class="field-wrap">
                    <input 
                    type="password" 
                    name="cnfPassword" 
                    placeholder="Re-enter Password"
                    ngModel
                    required>
                </div>
                <div class="btn-grp">
                    <button type="submit" [disabled]="!resetPwdForm.valid" class="btn btn-default no-arrow">Confirm</button>
                </div>
            </form>
            <button class="close-btn" (click)="activeModal.dismiss('Cross click')"><img src="../../../../assets/images/close-btn.svg" alt="close-btn"></button>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>