<div class="item-block">
    <h4>Measurement</h4>
    <ul class="measurement saved">
        <li>
            <input type="radio" name="measurement" id="aftaab">
            <label for="aftaab">Aftaab</label>
        </li>
        <li>
            <input type="radio" name="measurement" id="ajeej">
            <label for="ajeej">Ajeej</label>
        </li>
        <li>
            <input type="radio" name="measurement" id="abdilaah">
            <label for="abdilaah">Abdilaah</label>
        </li>
        <li>
            <input type="radio" name="measurement" id="abharaham">
            <label for="abharaham">Abharaham</label>
        </li>
    </ul>
    <h4 class="mt-30">New Measurement</h4>
    <ul class="measurement new">
        <li *ngFor="let type of measureType">
            <input type="radio" (change)="onSelectMeasureType(type)" name="type" [id]="type.id"  [checked]="measureTypeId == type.id">
            <label for="{{ type.id }}">{{ type.value }}</label>
        </li>
    </ul>
    <div class="btn-wrap">
        <a href="#" routerLink="/customize/fabric" class="btn btn-default prev">Side Pocket</a>
        <a (click)="onConfirm()" class="btn btn-default">Confirm</a>
    </div>
</div>