<div class="item-block collar">
    <h4>Cuffs</h4>
    <div class="inner-wrap">
        <p *ngIf="!cuffs">Fetching...</p>
        <div class="item-type-list">
            <div class="item-type" *ngFor="let cuff of cuffs">
                <div class="box">
                    <div class="img">
                        <img [src]="cuff.image" [alt]="cuff.cuff">
                    </div>
                    <span class="item">{{ cuff.cuff }}</span>
                    <div class="price-row">
                        <span class="price">{{ cuff.price | currency:'SAR ' }}</span>
                        <!-- <span class="show-item">Details</span> -->
                    </div>
                    <input type="radio" (change)="onSelectCuff(cuff.id)" [id]="cuff.id" 
                    name="collar" [checked]="this.selectedCuffId == cuff.id">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <p class="selected" *ngIf="selectedCuff">{{ selectedCuff.description }}</p>
    </div>
    <div class="btn-wrap">
        <button type="submit" routerLink="/customize/collar" class="btn btn-transparent-brown prev">Collar</button>
        <button type="submit" [disabled]="!selectedCuff" routerLink="/customize/pocket" class="btn btn-default">Pocket</button>
    </div>
</div>