<!-- checkout block -->
<section class="checkout-block">
    <div class="container">
        <div class="inner-wrap">
            <h4>Checkout</h4>
            <div class="measurement new">
                <div class="option">
                    <input type="radio" name="type" id="home">
                    <label for="home">Home Delivery</label>
                </div>
                <p *ngIf="!addresses">Loading...</p>
                <div class="saved-address show">
                    <div class="address" *ngFor="let address of addresses">
                        <input type="radio" name="address" #address (change)="onChooseAddress(address.id)" [id]="address.id">
                        <label [for]="address.id">
                            <p>{{ address.home_type }}</p>
                            <h6>{{ address.address }}</h6>
                        </label>
                    </div>
                    <a href="#" routerLink="/my-account/add-new-address" class="btn btn-default no-arrow">+ Add New</a>
                </div>
                <div class="option">
                    <input type="radio" name="type" id="store">
                    <label for="store">Store Pickup</label> 
                </div>
            </div>
            <div class="btn-wrap">
                <a href="#" routerLink="/payment" [queryParams]="{ addressId : selectedAddId, total: grandTotal }" class="btn btn-default">Continue to Payment</a>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->