<!-- checkout block -->
<section class="checkout-block">
    <div class="container">
        <div class="inner-wrap">
            <h4>Checkout</h4>
            <div class="measurement new">
                <div class="option">
                    <input type="radio" name="new" id="branch">
                    <label for="branch">Home Delivery</label>
                </div>
                <div class="saved-address show">
                    <div class="address">
                        <p>Home</p>
                        <h6>Sydney h6era House, Sydney,  New South Wales, 200077, AUS</h6>
                    </div>
                    <div class="address">
                        <p>Home</p>
                        <h6>GPO Cheese and Wine Room,  1 Martin Pl, Sydney 110056, AUS</h6>
                    </div>
                    <a href="#" class="btn btn-default no-arrow">+ Add New</a>
                </div>
                <div class="option">
                    <input type="radio" name="new" id="home">
                    <label for="home">Store Pickup</label> 
                </div>
            </div>
            <div class="btn-wrap">
                <a href="#" routerLink="/payment" class="btn btn-default">Continue to Payment</a>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->