<!-- header -->
<app-header></app-header>
<!-- header -->

<!-- checkout block -->
<section class="checkout-block">
    <div class="container">
        <div class="inner-wrap">
            <h4>Checkout</h4>
            <div class="measurement new">
                <div class="option">
                    <input type="radio" name="new" id="branch">
                    <label for="branch">Branch Appointment</label>
                </div>
                <div class="measurement saved">
                    <div class="option">
                        <input type="radio" name="measurement" id="aftaab">
                        <label for="aftaab">Aftaab</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="measurement" id="ajeej">
                        <label for="ajeej">Ajeej</label>
                    </div>
                </div>
                <div class="option">
                    <input type="radio" name="new" id="home">
                    <label for="home">Home Visit</label>
                </div>
            </div>
            <div class="btn-wrap">
                <a href="#" class="btn btn-default">Continue to Payment</a>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->

<!-- footer -->
<app-footer></app-footer>
<!-- footer -->