@import 'variables';

/*
 * Buttons.
 */
%btn-common {
  padding: 10px 20px 8px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  position: relative;
  outline: 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none;
  @include tablet-down {
    font-size: 12px;
    padding: 8px 20px;
    min-width: auto;
  }
}

.btn.btn-default {
  @extend %btn-common;
  background: $brown;
  color: $white;
  &::after {
    content: "";
    width: 20px;
    height: 14px;
    display: inline-block;
    margin-left: 6px;
    background: url('../../images/btn_arrow.svg') no-repeat;
    background-size: 100%;
    vertical-align: middle;
    transition: all .3s ease-in-out;
  }
  &.prev {
    &::after {
      display: none;
    }
    &::before {
      content: "";
      width: 20px;
      height: 14px;
      display: inline-block;
      margin-right: 6px;
      background: url('../../images/btn_arrow.svg') no-repeat;
      background-size: 100%;
      transform: rotate(180deg);
      vertical-align: top;
      transition: all .3s ease-in-out;
    }
  }
  &:hover {
    background: $black;
    color: $white;
    &::after {
      transform: translateX(5px);
    }
    &::before {
      transform: rotate(180deg) translateX(5px);
      // margin-right: 11px;
    }
  }
  &.no-arrow {
    &::after {
      display: none;
    }
  }
  &.black {
    background: $black;
    color: $white;
    &:hover {
      background: $brown;
    }
  }
}

.btn.btn-transparent {
  @extend %btn-common;
  background: none;
  border: 1px solid $white;
  color: $white;
  &:hover {
    background: $white;
    color: $black;
  }
}

.btn.btn-transparent-brown {
  @extend %btn-common;
  background: none;
  border: 1px solid $brown;
  color: $brown;
  &:hover {
    background: $brown;
    color: $white;
  }
  &.prev {
    &::after {
      display: none;
    }
    &::before {
      content: "";
      width: 20px;
      height: 14px;
      display: inline-block;
      margin-right: 6px;
      background: url('../../images/btn_arrow.svg') no-repeat;
      background-size: 100%;
      transform: rotate(180deg);
      vertical-align: top;
      filter: invert(50%) sepia(31%) saturate(349%) hue-rotate(
        347deg
        ) brightness(93%) contrast(89%);
      transition: all .3s ease-in-out;
    }
    &:hover {
      &::before {
        filter: unset;
        transform: rotate(180deg) translateX(5px);
      }
    }
  }
}

.link {
  position: relative;
  &::before{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background: $black;
    transition: all .3s ease;
  }
  &:hover{
      &::before {
          width: 100%;
      }
  }
}

.link-pink {
  font-weight: bold;
  color: $red;
  transition: all .3s ease-in-out;
  &:hover {
      opacity: .7;
  }
}

