<!-- payment block -->
<section class="user-block">
    <div class="container">
        <div class="row-wrap">
            <div class="col-nav">
                <div class="info">
                    <img [src]="user.image" [alt]="user.name">
                    <h4><span>Hi</span>, <br> {{ user.name }}</h4>
                </div>
                <ul class="nav-links">
                    <li><a href="#" routerLink="/my-account/profile" routerLinkActive="active">My Profile</a></li>
                    <li><a href="#" routerLink="/my-account/address-book" routerLinkActive="active">Address Book</a></li>
                    <li><a href="#" routerLink="/my-account/measurement" routerLinkActive="active">My Measurements</a></li>
                    <li><hr></li>
                    <li><a href="#" routerLink="/my-account/orders" routerLinkActive="active">My Orders</a></li>
                    <li><a href="#" routerLink="/my-account/appointments" routerLinkActive="active">My Appointments</a></li>
                    <li><a href="#" routerLink="/my-account/loyality-points" routerLinkActive="active">Loyalty Points</a></li>
                    <li><hr></li>
                    <li><a href="#" routerLink="/my-account/gift-card" routerLinkActive="active">Gift Card</a></li>
                    <li><a href="#" routerLink="/my-account/offers" routerLinkActive="active">Offers</a></li>
                    <li><a href="#" routerLink="/my-account/settings" routerLinkActive="active">Settings</a></li>
                </ul>
            </div>
            <div class="col-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
<!-- checkout block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->