@import "../../../assets/styles/global/variables";

.user-block {
    .row-wrap {
        @include row;
        .col-nav {
            @include column(25%);
            background: $concrete;
            padding: 20px;
            @include desktop-down {
                @include column(100%);
            }
            .info {
                @include nowrap;
                border-bottom: 1px solid #ccc;
                padding-bottom: 20px;
                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    margin-right: 15px;
                    border-radius: 50%;
                }
                h4 {
                    margin-bottom: 0;
                    span {
                        font-size: 18px;
                    }
                }
            }
            .nav-links {
                li {
                    display: block;
                    margin: 20px 0;
                    a {
                        font-size: 18px;
                        &.active {
                            color: $brown;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .col-content {
            @include column(65%);
            padding-left: 30px;
            @include desktop-down {
                @include column(100%);
                padding-left: 0;
                margin-top: 20px;
            }
            h4 {
                span {
                    color: $brown;
                }
            }
            .info-box {
                border: 1px solid $brown;
                padding: 20px;
                width: 100%; 
                height: 515px;
                overflow-y: scroll;
                form {
                    width: 100%;
                    .field-wrap {
                        margin-bottom: 10px;
                        input, textarea {
                            background: $concrete;
                            border: none;
                            padding: 10px;
                            width: 100%;
                            outline: none;
                        }
                    }
                    .radio-grp {
                        .radio-wrap {
                            position: relative;
                            display: inline-block;
                            width: 160px;
                            margin-right: 10px;
                            input {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                &:checked {
                                    &+label {
                                        background: $black;
                                        color: $white;
                                        img {
                                            display: inline-block;
                                            vertical-align: sub;
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                            label {
                                background: $concrete;
                                padding: 10px;
                                text-align: center;
                                width: 100%;
                                img {
                                    display: none;
                                }
                            }
                        }
                    }
                    .btn-wrap {
                        text-align: right;
                    }
                }
                .inner-row {
                    @include nowrap;
                    // max-width: 600px;
                    .left-col {
                        max-width: 200px;
                        text-align: center;
                        border-right: 2px solid #ccc;
                        margin-right: 25px;
                        padding-right: 20px;
                        img {
                            width: 140px;
                            height: 140px;
                            object-fit: cover;
                        }
                        .update-dp {
                            position: relative;
                            margin-top: 20px;
                            input {
                                opacity: 0;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                            }
                            .btn {
                                border: 1px solid $brown;
                                color: $brown;
                                &:hover {
                                    background: $brown;
                                    color: $white;
                                }
                            }
                        }
                    }
                    .right-col {
                        max-width: 100%;
                        width: 100%;
                    }
                }
                    &.single-row {
                        padding: 20px;
                        .inner-row {
                            @include nowrap;
                            align-items: center;
                            justify-content: space-between;
                            padding-bottom: 0;
                            h6 {
                                @include nowrap;
                                img {
                                    margin-right: 5px;
                                }
                            }
                            .toggle-switch {
                                width: 50px;
                                height: 28px;
                                border-radius: 70px;
                                border: 1px solid $black;
                                position: relative;
                                transition: all .3s ease;
                                &.toggled {
                                    background: $brown;
                                    border-color: $brown;
                                    span {
                                        background: $white;
                                        left: calc(100% - 25px);
                                    }
                                }
                                span {
                                    width: 25px;
                                    height: 100%;
                                    border-radius: 50%;
                                    background: $black;
                                    display: inline-block;
                                    transition: all .3s ease;
                                    position: absolute;
                                    left: 0;
                                }
                            }
                            .field-wrap {
                                position: relative;
                                input {
                                    border: 1px solid $brown;
                                    background: none;
                                    padding: 5px 60px 5px 10px;
                                    outline: none;
                                    min-width: 220px;
                                    border-radius: 10px;
                                }
                                button {
                                    position: absolute;
                                    right: 12px;
                                    top: 10px;
                                    border: none;
                                    outline: none;
                                    background: none;
                                    color: $brown;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    &.total-cart-amt {
                        h4 {
                            margin-bottom: 20px;
                        }
                        .detail-wrap {
                            display: block;
                            padding-top: 0;
                        }
                    }
                    h4 {
                        padding: 10px 0;
                        span {
                            color: $brown;
                        }
                    }
                }
                .card-wrap {
                    padding: 25px 25px 0;
                    background: $concrete;
                    margin-bottom: 10px;
                    .inner-row {
                        @include nowrap;
                        padding-bottom: 15px;
                        .product-img {
                            img {
                                width: 90px;
                                height: 90px;
                                object-fit: cover;
                            }
                        }
                        .product-info {
                            width: 100%;
                            padding-left: 20px;
                            h6 {
                                @include nowrap;
                                span {
                                    margin-left: auto;
                                    border: none;
                                }
                            }
                            .qty-row {
                                @include nowrap;
                                align-items: center;
                                justify-content: space-between;
                                margin-top: 15px;
                                .qty-wrap {
                                    .qty {
                                        font-size: 20px;
                                        color: $black;
                                        vertical-align: text-top;
                                    }
                                    button {
                                        width: 28px;
                                        height: 28px;
                                        background: $text-black;
                                        border-radius: 50%;
                                        border: none;
                                        margin: 0 10px;
                                        span {
                                            color: $white;
                                            font-weight: bold;
                                            line-height: 1;
                                        }
                                    }
                                }
                                a {
                                    color: $brown;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
            }
            .product-detail {
                .col-wrap {
                    @include column(50%);
                    padding: 0 15px;
                }
            }
            .detail-wrap {
                padding: 20px 0;
                .amount-row {
                    @include nowrap;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    h6, h4 {
                        color: $mid-gray;
                        margin-bottom: 0;
                    }
                    .amt {
                        font-size: 18px;
                    }
                    &.total {
                        margin-bottom: 0;
                        border-top: 1px solid #ccc;
                        padding-top: 15px;
                        .amt {
                            font-size: 22px;
                        }
                    }
                }
            }
            .saved-address {
                width: 100%;
                .address {
                    background: $concrete;
                    padding: 20px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    position: relative;
                    .edit-btn {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        border: none;
                    }
                }
                .btn {
                    background: $concrete;
                    color: $black;
                    width: 100%;
                    font-size: 16px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                }
            }
            .tabs {
                li {
                    display: inline-block;
                    padding: 20px;
                    border-radius: 5px 5px 0 0;
                    border: 1px solid #ccc;
                    border-bottom-color: $white;
                    color: $text-black;
                    &.active {
                        border: 1px solid $brown;
                        border-bottom-color: $white;
                        position: relative;
                        top: 1px;
                        padding-top: 27px;
                        color: $brown;
                    }
                }
            }
            .tracking-block {
                background: $concrete;
                padding: 20px;
                .track {
                    margin: 20px 0;
                }
            }
        }
    }
}