<div class="item-block">
    <h4>Fabric</h4>
    <div class="inner-wrap">
        <div class="item-type-list">
            <div class="item-type" for="maroon">
                <div class="box">
                    <img src="../../../../assets/images/maroon.svg" alt="maroon">
                    <span class="item">Maroon</span>
                    <div class="price-row">
                        <span class="price">SAR 10</span>
                        <span class="show-item">View item</span>
                    </div>
                    <input type="radio" id="maroon" name="item" value="maroon">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="milky-white1">
                <div class="box">
                    <img src="../../../../assets/images/milky_white1.svg" alt="milky white">
                    <span class="item">Milky White</span>
                    <div class="price-row">
                        <span class="price">SAR 10</span>
                        <span class="show-item">View item</span>
                    </div>
                    <input type="radio" id="milky-white1" name="item" value="milky-white1" checked>
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="milky-white2">
                <div class="box">
                    <img src="../../../../assets/images/milky_white1.svg" alt="milky white">
                    <span class="item">Milky White</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">View item</span>
                    </div>
                    <input type="radio" id="milky-white2" name="item" value="milky-white2">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="navy-blue1">
                <div class="box">
                    <img src="../../../../assets/images/navy_blue1.svg" alt="navy blue">
                    <span class="item">Navy Blue</span>
                    <div class="price-row">
                        <span class="price">SAR 05</span>
                        <span class="show-item">View item</span>
                    </div>
                    <input type="radio" id="navy-blue1" name="item" value="navy-blue1">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="navy-blue2">
                <div class="box">
                    <img src="../../../../assets/images/navy_blue2.svg" alt="navy blue">
                    <span class="item">Navy Blue</span>
                    <div class="price-row">
                        <span class="price">SAR 10</span>
                        <span class="show-item">View item</span>
                    </div>
                    <input type="radio" id="navy-blue2" name="item" value="navy-blue2">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
            <div class="item-type" for="own-fabric">
                <div class="box">
                    <img src="../../../../assets/images/own_fabric.jpg" alt="own item">
                    <span class="item">Own item</span>
                    <div class="price-row">
                        <span class="price">SAR 0</span>
                        <span class="show-item">View item</span>
                    </div>
                    <input type="radio" id="own-fabric" name="item" value="own-item">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <div class="img-preview">
            <img src="../../../../assets/images/fabric_img.svg" alt="item img">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices a lectus nec pharetra.</p>
    </div>
    <div class="btn-wrap single-btn">
        <a href="#" routerLink="/customize/collar" class="btn btn-default">Collar</a>
    </div>
</div>