<div class="item-block">
    <h4>Fabric</h4>
    <div class="inner-wrap">
        <p *ngIf="!fabrics">Fetching...</p>
        <div class="item-type-list">
            <div class="item-type" for="maroon" *ngFor="let fabric of fabrics">
                <div class="box">
                    <img [src]="fabric.image" [alt]="fabric.fabrics">
                    <span class="item">{{ fabric.fabrics }}</span>
                    <div class="price-row">
                        <span class="price">{{ fabric.price | currency:'SAR ' }}</span>
                        <!-- <span class="show-item">View item</span> -->
                    </div>
                    <input type="radio" (change)="onSelectFabric(fabric.id)" [id]="fabric.id" 
                    name="fabric" [checked]="this.selectedFabricId == fabric.id">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <div class="selected" *ngIf="selectedFabric !== null">
            <div class="img-preview">
                <img [src]="selectedFabric.image" [alt]="selectedFabric.fabrics">
            </div>
            <p>{{ selectedFabric.description }}</p>
        </div>
    </div>
    <div class="btn-wrap single-btn">
        <button type="submit" [disabled]="!selectedFabric" routerLink="/customize/collar" class="btn btn-default">Collar</button>
    </div>
</div>