<div class="item-block collar">
    <h4>Side Pocket</h4>
    <h5>Want to add coin pocket?</h5>
    <div class="radio-group" *ngFor="let side of pocketSide">
        <input type="radio" (change)="onSelectCoinPocket(side)" [id]="side.value" 
        name="pocketSide" [value]="side.value" [checked]="selectedSideId == side.id">
        <label for="{{ side.value }}">{{ side.value }}</label>
    </div>

    <div *ngIf="selectedSideId == 0">
        <h5 class="mt-20">Which side you want?</h5>
        <div class="radio-group" *ngFor="let direction of pocketDirection">
            <input type="radio" (change)="onSelectSidePocket(direction)" [id]="direction.value" 
            name="direction" [value]="direction.value" [checked]="selectedDirectionId == direction.id">
            <label for="{{ direction.value }}">{{ direction.value }}</label>
        </div>
    </div>

    <div class="btn-wrap">
        <button type="submit" routerLink="/customize/button" class="btn btn-transparent-brown prev">Button</button>
        <button type="submit" [disabled]="!selected" routerLink="/customize/measurement" class="btn btn-default">Measurement</button>
    </div>
</div>