<div class="item-block collar">
    <h4>Side Pocket</h4>
    <h5>Want to add coin pocket?</h5>
    <div class="radio-group">
        <input type="radio" id="oneSide" name="pocketSide" value="oneSide">
        <label for="oneSide">One Side SAR 20</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="bothSide" name="pocketSide" value="bothSide">
        <label for="bothSide">One Side SAR 35</label>
    </div>

    <h5 class="mt-20">Which side you want?</h5>
    <div class="radio-group">
        <input type="radio" id="left" name="direction" value="left">
        <label for="left">Left</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="right" name="direction" value="right">
        <label for="right">Right</label>
    </div>
    <div class="btn-wrap">
        <a href="#" routerLink="/customize/button" class="btn btn-default prev">Button</a>
        <a href="#" routerLink="/customize/measurement" class="btn btn-default">Measurement</a>
    </div>
</div>