<!-- banner second level -->
<section class="banner-second-level no-padding">
    <div class="bg-img">
        <img src="../../../assets/images/about_banner.jpg" alt="about banner">
    </div>
</section>
<!-- banner second level -->

<!-- content with image -->
<section class="content-with-img">
    <div class="container">
        <div class="row-wrap">
            <div class="col-wrap col-content">
                <h2>Who We Are</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
            <div class="col-wrap col-img">
                <div class="img-wrap">
                    <img src="../../../assets/images/man_wearing_thobe.jpg" alt="man wearing thobe">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content with image -->

<!-- content with image -->
<section class="content-with-img img-left no-padding">
    <div class="container">
        <div class="row-wrap">
            <div class="col-wrap col-content">
                <h2>Why Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <h5>Lorem Ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <h5>Dolor Sit Amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <h5>Sed Do Eiusmod</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-wrap col-img">
                <div class="img-wrap">
                    <img src="../../../assets/images/man_wearing_thobe2.jpg" alt="man wearing thobe">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- content with image -->

<!-- col two block -->
<section class="col-two-block">
    <div class="container">
        <div class="row-wrap">
            <div class="col-info">
                <div class="inner-wrap">
                    <div class="info">
                        <h5>P.O.Box 237354, Dubai, UAE</h5>
                        <h5>056 6885 235</h5>
                        <h5>bamthobe@gmail.com</h5>
                    </div>
                    <div class="social">
                        <h5>Connect With Us</h5>
                        <ul class="social-nav">
                            <li>
                                <a href="#">
                                    <img src="../../../../assets/images/instagram.svg" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../../assets/images/facebook.svg" alt="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../../assets/images/twitter.svg" alt="twitter">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-img">
                <img src="../../../assets/images/man_wearing_thobe3.jpg" alt="man_wearing_thobe">
            </div>
        </div>
    </div>
</section>
<!-- col two block -->

<!-- icon with text -->
<app-feature-block></app-feature-block>
<!-- icon with text -->