<h4>My Profile</h4>

<div class="info-box">
    <div class="inner-row" *ngIf="user">
        <div class="left-col">
            <img [src]="!user.image ? '../../../../assets/images/user_avatar.svg' : profileImgUrl" alt="user avatar">
            <div class="update-dp">
                <input type="file" (change)="onUpdateDp($event)">
                <button class="btn btn-transparent">Update Photo</button>
            </div>
        </div>
        <div class="right-col">
            <form (submit)="onEditProfile(editProfileForm)" #editProfileForm="ngForm">
                <div class="field-wrap">
                    <input 
                    type="text" 
                    name="name" 
                    placeholder="Name"
                    [ngModel]="user.name">
                </div>
                <div class="field-wrap">
                    <input 
                    type="tel" 
                    name="phone" 
                    placeholder="Mobile Number"
                    [ngModel]="user.mobile" disabled>
                </div>
                <div class="field-wrap">
                    <input 
                    type="email" 
                    name="email" 
                    placeholder="Email Address"
                    [ngModel]="user.email"
                    >
                </div>
                <div class="radio-grp">
                    <div class="radio-wrap">
                        <input type="radio" id="male" name="gender" value="male" [ngModel]="user.gender">
                        <label for="male">
                            <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Male
                        </label>
                    </div>
                    <div class="radio-wrap">
                        <input type="radio" id="female" name="gender" value="female" [ngModel]="user.gender">
                        <label for="female">
                            <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Female 
                        </label>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button type="submit" class="btn btn-default no-arrow">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
    <p *ngIf="!user">Fetching...</p>
</div>

<ngx-spinner></ngx-spinner>