<h4>My Profile</h4>

<div class="info-box">
    <div class="inner-row">
        <div class="left-col">
            <img src="../../../../assets/images/uploaded_user_img.png" alt="uploaded user img">
            <a href="#" class="btn btn-transparent">Update Photo</a>
        </div>
        <div class="right-col">
            <form action="#">
                <div class="field-wrap">
                    <input 
                    type="text" 
                    name="name" 
                    placeholder="Name"
                    [ngModel]="user.name">
                </div>
                <div class="field-wrap">
                    <input 
                    type="tel" 
                    name="phone" 
                    placeholder="Mobile Number"
                    [ngModel]="user.mobile">
                </div>
                <div class="field-wrap">
                    <input 
                    type="email" 
                    name="email" 
                    placeholder="Email Address"
                    [ngModel]="user.email"
                    >
                </div>
                <div class="radio-grp">
                    <div class="radio-wrap">
                        <input type="radio" id="male" name="gender" value="male" checked>
                        <label for="male">
                            <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Male
                        </label>
                    </div>
                    <div class="radio-wrap">
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">
                            <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Female 
                        </label>
                    </div>
                </div>
                <div class="btn-wrap">
                    <a href="#" class="btn btn-default no-arrow">Save Changes</a>
                </div>
            </form>
        </div>
    </div>
</div>