<!-- icon with text -->
<section class="icon-with-text" *ngIf="!isWebView">
    <div class="container">
        <div class="row-wrap">
            <div class="col-three">
                <div class="inner-wrap">
                    <div class="icon">
                        <img src="../../../assets/images/customize.jpg" alt="customize">
                    </div>
                    <h4>Customize</h4>
                </div>  
            </div>
            <div class="col-three">
                <div class="inner-wrap">
                    <div class="icon">
                        <img src="../../../assets/images/badge.jpg" alt="badge">
                    </div>
                    <h4>Top Qulaity</h4>
                </div>
            </div>
            <div class="col-three">
                <div class="inner-wrap">
                    <div class="icon">
                        <img src="../../../assets/images/hand-shake.jpg" alt="hand shake">
                    </div>
                    <h4>Ethically Produced</h4>
                </div>
            </div>
            <div class="col-three">
                <div class="inner-wrap">
                    <div class="icon">
                        <img src="../../../assets/images/fast-delivery.jpg" alt="fast delivery">
                    </div>
                    <h4>Fast Delivery</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- icon with text -->