<h4>My Orders</h4>


<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Ongoing Orders</a>
      <ng-template ngbNavContent>
        <div class="info-box">
            <p *ngIf="!orders">Loading...</p>
            <div class="card-wrap" *ngFor="let order of orders">
                <div class="inner-row">
                    <div class="product-img">
                        <img [src]="order.image" [alt]="order.title">
                    </div>
                    <div class="product-info">
                        <h6>{{ order.title }}
                            <span>{{ order.price | currency:'SAR ' }}</span>
                        </h6>
                        <p>{{ order.description }}</p>
                        <div class="qty-row">
                            <p>Qty : {{ order.quantity }}</p>
                            <a href="#" routerLink="/user/track">Track Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Previous Orders</a>
      <ng-template ngbNavContent>
        <div class="info-box">
            <p>No Previous Orders!</p>
            <!-- <div class="card-wrap">
                <div class="inner-row">
                    <div class="product-img">
                        <img src="../../../assets/images/thobe.svg" alt="thobe">
                    </div>
                    <div class="product-info">
                        <h6>Customized Thobe 1
                            <span>SAR 789</span>
                        </h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="qty-row">
                            <p>Qty : 1</p>
                            <a href="#">Write A Review</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>



