<h4>Address Book > <span>Add New Address</span></h4>

<div class="info-box">
    <div class="inner-row">
        <form action="#">
            <div class="radio-grp">
                <div class="radio-wrap">
                    <input type="radio" id="home" name="address" value="home" checked>
                    <label for="male">
                        <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Home
                    </label>
                </div>
                <div class="radio-wrap">
                    <input type="radio" id="other" name="address" value="other">
                    <label for="female">
                        <img src="../../../../assets/images/checked_white.svg" alt="checked white"> Other 
                    </label>
                </div>
            </div>
            <div class="field-wrap">
                <input type="text" name="Full Name" placeholder="Name">
            </div>
            <div class="field-wrap">
                <input type="text" name="address" placeholder="Address">
            </div>

            <div class="btn-wrap">
                <a href="#" class="btn btn-default no-arrow">Save this address</a>
            </div>
        </form>
    </div>
</div>