<h4>Address Book > <span>Add New Address</span></h4>

<div class="info-box">
    <div class="inner-row" *ngIf="addresses">
        <div class="saved-address">
            <div class="address" *ngFor="let item of addresses">
                <h6>{{ item.home_type | titlecase }}</h6>
                <p>{{ item.address }}</p>
                <button class="edit-btn" [routerLink]="'/my-account/edit-address/' + item.id">
                    <img src="../../../../assets/images/edit.svg" alt="edit">
                </button>
            </div>
            <a href="#" routerLink="/my-account/add-new-address" class="btn btn-default no-arrow">+ Add New</a>
        </div>
    </div>
    <p *ngIf="!addresses">Fetching...</p>
</div>