<h4>Gift Card</h4>

<div class="info-box">
    <div class="card-wrap">
        <div class="inner-row">
            <div class="product-img">
                <img src="../../../assets/images/giftcard.png" alt="thobe">
            </div>
            <div class="product-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nulla quis risus tempus.</p>
                <h5>SAR 300</h5>
                <a href="#">Create Gift</a>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <div class="inner-row">
            <div class="product-img">
                <img src="../../../assets/images/giftcard.png" alt="thobe">
            </div>
            <div class="product-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nulla quis risus tempus.</p>
                <h5>SAR 300</h5>
                <a href="#">Create Gift</a>
            </div>
        </div>
    </div>
</div>