<h4>Gift Card</h4>

<div class="info-box">
    <p *ngIf="!giftCards">Loading...</p>
    <div class="card-wrap" *ngFor="let giftCard of giftCards">
        <div class="inner-row">
            <div class="product-img">
                <img [src]="giftCard.image" [alt]="giftCard.title">
            </div>
            <div class="product-info">
                <p>{{ giftCard.description }}</p>
                <h5>{{ giftCard.price | currency:'SAR ' }}</h5>
                <a href="#">Create Gift</a>
            </div>
        </div>
    </div>
</div>