<div class="item-block collar">
    <h4>Placket</h4>
    <div class="inner-wrap">
        <p *ngIf="!plackets">Fetching...</p>
        <div class="item-type-list">
            <div class="item-type" *ngFor="let placket of plackets; let i = index">
                <div class="box">
                    <div class="img">
                        <img [src]="placket.image" [alt]="placket.style">
                    </div>
                    <span class="item">{{ placket.style }}</span>
                    <div class="price-row">
                        <span class="price">{{ placket.price | currency:'SAR ' }}</span>
                        <span class="show-item">Details</span>
                    </div>
                    <input type="radio" (change)="onSelectPlacket(placket.id)" [id]="placket.id" 
                    name="collar" [checked]="this.selectedPlacketId == placket.id">
                    <img class="checked" src="../../../../assets/images/checked.svg" alt="checked">
                </div>
            </div>
        </div>
        <p *ngIf="selectedPlacket">{{ selectedPlacket.description }}</p>
    <div class="btn-wrap">
        <button type="submit" routerLink="/customize/pocket" class="btn btn-default prev">Pocket</button>
        <button type="submit" [disabled]="!selectedPlacket" routerLink="/customize/button" class="btn btn-default">Button</button>
    </div>
</div>