<h4>Loyality Points</h4>

<div class="info-box">
    <div class="table-head">
        <div class="title-row">
            <h4>Total Available Points</h4>
            <h4>100</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper nulla quis risus tempus, eget consequat est molestie.</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Points Earned</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>54851587</td>
                <td><b>30</b></td>
                <td>15/02/2021</td>
            </tr>
            <tr>
                <td>54851542</td>
                <td><b>20</b></td>
                <td>10/02/2021</td>
            </tr>
            <tr>
                <td>42441275</td>
                <td><b>20</b></td>
                <td>19/01/2021</td>
            </tr>
            <tr>
                <td>58567755</td>
                <td><b>30</b></td>
                <td>22/12/2020</td>
            </tr>
        </tbody>
    </table>
</div>