<footer class="footer">
    <div class="container">
        <div class="row-wrap">
            <div class="col-four">
                <div class="info">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="mailto:bamthobe@gmail.com"><img src="../../../../assets/images/mail.svg" alt="mail"> bamthobe@gmail.com</a></li>
                        <li><a href="tel:056 6885 235"><img src="../../../../assets/images/phone.svg" alt="phone"> 056 6885 235</a></li>
                        <li><img src="../../../../assets/images/location.svg" alt="location"> P.O.Box 237354, Dubai, UAE</li>
                    </ul>
                </div>
            </div>
            <div class="col-four">
                <div class="links">
                    <h4>Bamthobe</h4>
                    <ul>
                        <li>
                            <a href="#" routerLink="/contact-us">Contact Us</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/terms-and-condition">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/faqs">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-four">
                <div class="social">
                    <h4>Connect With Us</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="../../../../assets/images/insta_footer.svg" alt="insta footer">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../../../assets/images/fb_footer.svg" alt="fb footer">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../../../../assets/images/twitter_footer.svg" alt="twitter footer">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="sub-footer">
    <div class="container">
        <div class="inner-wrap">
            <p>All rights reserved &nbsp; <img src="../../../../assets/images/logo.svg" alt="logo"> &nbsp; <span>©2021.</span></p>
            <ul class="links">
                <li><a href="#" routerLink="/privacy-policy">Privacy Policy &nbsp; &nbsp; |</a></li>
                <li><a href="#" routerLink="/terms-and-condition">&nbsp; &nbsp; Terms & Conditions</a></li>
            </ul>
        </div>
    </div>
</section>
