<div class="item-block">
    <h4>My Thobe</h4>
    <div class="item-row">
        <div class="item">
            <img [src]="customize.fabric.image" alt="fabric image">
            <div class="detail">
                <h6>Fabric</h6>
                <p>{{ customize.fabric.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/fabric" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img [src]="customize.cuff.image" alt="cuff image">
            <div class="detail">
                <h6>Cuffs</h6>
                <p>{{ customize.fabric.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/cuffs" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img [src]="customize.collar.image" alt="collar image">
            <div class="detail">
                <h6>Collar</h6>
                <p>{{ customize.collar.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/collar" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img [src]="customize.button.image" alt="button image">
            <div class="detail">
                <h6>Buttons</h6>
                <p>{{ customize.button.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/button" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img [src]="customize.pocket.image" alt="pocket image">
            <div class="detail">
                <h6>Pocket</h6>
                <p>{{ customize.pocket.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/pocket" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img [src]="customize.placket.image" alt="placket image">
            <div class="detail">
                <h6>Placket</h6>
                <p>{{ customize.placket.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/placket" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <div class="detail">
                <h6>{{ customize.pocketSide.id == 0 ? 'One Side Pocket' : 'Both Side Pocket' }}</h6>
                <p>{{ customize.pocketSide.price | currency:'SAR ' }}</p>
            </div>
        </div>
        <img class="edit" routerLink="/customize/side-pocket" [queryParams]="{thobeReady: true}" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="btn-wrap single-btn">
        <!-- <a href="#" routerLink="/customize/fabric" class="btn btn-default no-arrow">Add More Thobe</a> -->
        <!-- <a (click)="onAddToCart()" class="btn btn-default no-arrow">Add to cart</a> -->
        <button type="submit" routerLink="/customize/measurement" class="btn btn-default next">Measurement</button>
    </div>
</div>