<div class="item-block">
    <h4>My Thobe</h4>
    <div class="item-row">
        <div class="item">
            <img src="../../../../assets/images/milky_white1.svg" alt="milky white1">
            <div class="detail">
                <h6>Fabric</h6>
                <p>SAR 430</p>
            </div>
        </div>
        <img class="edit" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img src="../../../../assets/images/doubleButton.svg" alt="cuff">
            <div class="detail">
                <h6>Cuffs</h6>
                <p>SAR 430</p>
            </div>
        </div>
        <img class="edit" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img src="../../../../assets/images/businesscollar.svg" alt="business collar">
            <div class="detail">
                <h6>Collar</h6>
                <p>SAR 430</p>
            </div>
        </div>
        <img class="edit" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img src="../../../../assets/images/white.svg" alt="white button">
            <div class="detail">
                <h6>Buttons</h6>
                <p>SAR 430</p>
            </div>
        </div>
        <img class="edit" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <img src="../../../../assets/images/pointPocket.svg" alt="point Pocket">
            <div class="detail">
                <h6>Pocket</h6>
                <p>SAR 430</p>
            </div>
        </div>
        <img class="edit" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="item-row">
        <div class="item">
            <div class="detail">
                <h6>Side Pocket+ coin pocket</h6>
                <p>SAR 430</p>
            </div>
        </div>
        <img class="edit" src="../../../../assets/images/edit.svg" alt="edit">
    </div>
    <div class="btn-wrap">
        <a href="#" routerLink="/customize/fabric" class="btn btn-default no-arrow">Add More Thobe</a>
        <a href="#" routerLink="/my-cart" class="btn btn-default no-arrow">Added to cart</a>
    </div>
</div>